<!DOCTYPE html>
<html>
  <head>
    <title>SmallShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="app header-fixed sidebar-md-show sidebar-fixed">
    <header class="app-header navbar">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown d-md-down-none">
          <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="icon-bell"></i>
            <span class="badge badge-pill badge-danger">5</span>
          </a>
        </li>
        <li>
          <%= link_to "Đăng xuất", "admin/login", class: "nav-link pr-5 pl-2" %>
        </li>
      </ul>
    </header>
    <div class="app-body">
      <div class="sidebar">
        <nav class="sidebar-nav ps">
          <ul class="nav">
            <li class="nav-item">
              <%= link_to "Tài khoản", "/admin/account/list", class: "nav-link" %>
              <%= link_to "Khách hàng", "/admin/user/list", class: "nav-link" %>
              <%= link_to "Sản phẩm", "/admin/product/list", class: "nav-link" %>
              <%= link_to "Đơn hàng", "/admin/order/list", class: "nav-link" %>
              <%= link_to "Thống kê", "#", class: "nav-link" %>
              <%= link_to "Coupon", "#", class: "nav-link" %>
              <%= link_to "Setting", "#", class: "nav-link" %>
            </li>
          </ul>
        </nav>
      </div>
      <main class="main">
        <div class="container-fluid">
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
