<!DOCTYPE html>
<html>
  <head>
    <title>SmallShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="app header-fixed sidebar-md-show sidebar-fixed">
    <header class="app-header navbar">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown d-md-down-none">
          <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="icon-bell"></i>
            <span class="badge badge-pill badge-danger">5</span>
          </a>
        </li>
        <li>
          <%= link_to "Đăng xuất", "/admin/login", class: "nav-link pr-5 pl-2" %>
        </li>
      </ul>
    </header>
    <div class="app-body">
      <div class="sidebar">
        <nav class="sidebar-nav ps">
          <ul class="nav">
            <li class="nav-item">
              <%= link_to "Dashboard", "/admin/dashboard", class: "nav-link #{'active' if yield(:tab) == 'dashboard'}" %>
            </li>
            <li class="nav-item">
              <%= link_to "Tài khoản", "/admin/account/list", class: "nav-link #{'active' if yield(:tab) == 'account'}" %>
            </li>
            <li class="nav-item">
              <%= link_to "Khách hàng", "/admin/user/list", class: "nav-link #{'active' if yield(:tab) == 'user'}" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sản phẩm", "/admin/product/list", class: "nav-link #{'active' if yield(:tab) == 'product'}" %>
            </li>
            <li class="nav-item">
              <%= link_to "Đơn hàng", "/admin/order/list", class: "nav-link #{'active' if yield(:tab) == 'order'}" %>
            </li>
            <li class="nav-item nav-dropdown <%= 'open' if ['coupon', 'sale'].include?(yield(:tab)) %>">
              <a href="#" class="nav-link nav-dropdown-toggle">Khuyến mãi</a>
              <ul class="nav-dropdown-items">
                <li class="nav-item">
                  <%= link_to "Coupon", "#", class: "nav-link #{'active' if yield(:tab) == 'coupon'}" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Khuyến mãi", "#", class: "nav-link #{'active' if yield(:tab) == 'sale'}" %>
                </li>
              </ul>
            </li>
            <li class="nav-item nav-dropdown <%= 'open' if ['template', 'email'].include?(yield(:tab)) %>">
              <a href="#" class="nav-link nav-dropdown-toggle">Email</a>
              <ul class="nav-dropdown-items">
                <li class="nav-item">
                  <%= link_to "Email template", "#", class: "nav-link #{'active' if yield(:tab) == 'template'}" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Email", "#", class: "nav-link #{'active' if yield(:tab) == 'email'}" %>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <%= link_to "Thống kê", "#", class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Setting", "#", class: "nav-link" %>
            </li>
          </ul>
        </nav>
      </div>
      <main class="main">
        <div class="container-fluid">
          <%= yield %>
        </div>
      </main>
    </div>
    <script type="text/javascript">
      $('a.nav-dropdown-toggle').on('click', function(e) {
        e.preventDefault();
        $(this).parent().toggleClass('open');
      })
    </script>
  </body>
</html>
