<!DOCTYPE html>
<html>
  <head>
    <title>SmallShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="app header-fixed sidebar-md-show sidebar-fixed">
    <header class="app-header navbar"></header>
    <div class="app-body">
      <div class="sidebar">
        <nav class="sidebar-nav ps">
          <ul class="nav">
            <li class="nav-item">
              <%= link_to "Dashboard", "/admin/dashboard", class: "nav-link" %>
              <%= link_to "Account", "/admin/account/list", class: "nav-link" %>
              <%= link_to "User", "/admin/user/list", class: "nav-link" %>
              <%= link_to "Product", "/admin/product/list", class: "nav-link" %>
              <%= link_to "Order", "/admin/order/list", class: "nav-link" %>
              <%= link_to "Coupon", "#", class: "nav-link" %>
              <%= link_to "Setting", "#", class: "nav-link" %>
            </li>
          </ul>
        </nav>
      </div>
      <main class="main">
        <div class="container-fluid">
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
